body, html {
  background: url('books.jpg');
}

.content{
    margin-left:auto;
    margin-right:auto;
    background-color:#E4E6E9;
    border: solid #969FAA 3px;
    border-radius: 35px;
    text-align: center;
    width: 60%;
    padding: 20px 30px;
}

.content p {
  line-height: 1.5em;
  margin-left:auto;
  margin-right:auto;
  /* width: 75%; */
}

#cprr {
  width:75%
}

/* h1{
  margin: 0px 0px 10px 0px;
} */

input {
  width: 75%;
  height:30px;
  padding-left: 5px;
  margin-bottom:10px;
}

button{
  width: 10%;
  border-radius: 5px;
  margin-top:10px;
}

.header {
  background: black;
  /* padding:2%; */
  padding-left: 10px;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.totheleft{
    float:left;
    color:white;
    font-size:40px;
    text-align:center;
    padding: 10px 10px;
    text-decoration: none;
}
.totheright {
    float:right;
    color:white;
    font-size:20px;
    text-align:center;
    padding: 20px 20px;
    text-decoration: none;
}

.totheright a {
    color:white;
    text-decoration:none;
    padding-right: 15px
}

/* FOR THE RESULTS PAGE */

.results {
    /* position:relative; */
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 30px 20px;
    /* padding-top:10%; */
    background-color:#E4E6E9;
    border: solid #969FAA 4px;
    border-radius: 46px;
}

.title {
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 20px;
    /* padding-top:10%; */
    background-color:#E4E6E9;
    border: solid #969FAA 4px;
    border-radius: 20px;
    margin-bottom: 20px;
}