<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/styles.css">
<head>
<title>Copyright Renewals</title>
</head>
    
<body>
<div class="header">
    <div class ="totheleft">
        <a>Copyright Renewals</a>
    </div>
  
    <div class = "totheright">
        <a href="main.html">Search</a>
        <a href="about">About Us</a>
        <a href="#">Copyrights</a>
        <a href="#">NYPL</a>
        <!-- <a href="#">Back to Search</a> -->
    </div>
</div>
<div class="body">
    <div class="about">
        <h1>About</h1>
        <p>Many books published between 1923 through 1977 may be in the public domain either because their copyright was not registered, or because their copyrights were not renewed after an initial term. Unfortunately, determining the copyright status of these books requires a review of the copyright records of registration and renewal. Unfortunately, these records were all on paper. Digital scans of these records were made, and are available from the Internet Archive, but searching the scans is not easy.</p>
        <p>To make this task more manageable, work has gone underway to convert the Catalog of Copyright Entries (CCEs) into well-structured XML data.  The CCEs are comprised of about 450,000 pages and are printed compilations of brief registration and renewal records. These records were published by the Copyright Office at regular intervals, ranging in length from semi-weekly to semi-annually. The CCEs are divided by classes of works, such as books, periodicals, music, drama, maps, photographs, etc. Conversion of a set of 10,000 pages of book registration records published between 1923 and 1964 has been completed, and the result is publicly <a href="https://github.com/NYPL/catalog_of_copyright_entries_project">available</a>.</p>
        <p>This website serves as a user-friendly interface for librarians, archivists, and rights researchers to make use of the XML data.</p>
    </div>
</div>
    
</body>
</html>