<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/styles.css">
  
<head>
<title>Copyright Renewals</title>
</head>
    
<body>
<div class="header">
    <div class ="totheleft">
        <a>Copyright Renewals</a>
    </div>
  
    <div class = "totheright">
        <a href="#">Search</a>
        <a href="about">About Us</a>
        <a href="#">Copyrights</a>
        <a href="#">NYPL</a>
    </div>
</div>
<div class="body">
    <div class = "search">
        <h1>Copyright Search</h1>
        <p>Search for copyright registrations and renewals on books from the Catalog of Copyright Entries.</p>
        <p>Find a book:</p>
        <form>
            <input type="text" name="title" placeholder="Title"><br>
            <input type="text" name="author" placeholder="Author"><br>
            <input type="text" name="publisher" placeholder="Publisher"><br>
            <input type="text" name="registration" placeholder="Registration Number"><br>
            <input type="text" name="renewal" placeholder="Renewal Number"><br>
            <button type="submit">Search</button>
        </form>  
    </div>
</div>
    
</body>
</html>