{% extends 'base.html' %}

{% block content %}
    <div class="py-5 text-center">
      <div class="content">
          <h1>Need Help? (IN PROGRESS)</h1>
          <p>Enter in the Title, Author, Publisher, Registration Number, Renewal Number or any combination of the previous options into your search.</p>
            <p>Your search results should yield the registration(s) from your search parameters. Including it’s description, publishers and renewal history.</p>
            <p>If this work has been found to be out of copyright, then it is able to be distributed freely online.</p>
            <br>
            <h3>How to determine if a book is in the public domain:</h3>
            <li>Published before 1923: automatically in public domain.</li>
            <li>Published from 1923-1963: In public domain if copyright hasn’t been renewed.</li>
            <li>Published from 1964-1977: public domain after 28 years with additional 67 year automatic extension.</li>
            <li>Published from 1978-present: in public domain for life of author plus additional 70 years.</li>
            <li>Special circumstances: Created pre 1978 but not published: in public domain for life of author plus additional 70 years OR until 2003, whichever is greater.</li>
      </div>
    </div>
{% endblock %}