{% extends 'base.html' %}

{% block content %}


{% if results %}

  {% include "search/paging.html" %}
  
    {% for result in results %}
    <div class = "results">
        <!-- {% include "search/render_registration.html" %} -->
        {% include "search/new_registration.html" %}
    </div>
    {% endfor %}
  

{% else %}
<div class="py-5 text-center">
  <div class = "content">
    <h1>Copyright Search</h1>
    <p id="cprr">Search for copyright registrations and renewals on books from the Catalog of Copyright Entries.</p>
    <p>Find a book:</p>
    <form>
      <input type="text" name="title" id="title" placeholder="Title" autocomplete="off"><br>
      <input type="text" name="author" placeholder="Author" autocomplete="off"><br>
      <input type="text" name="publisher" placeholder="Publisher" autocomplete="off"><br>
      <input type="text" name="registration" placeholder="Registration Number" autocomplete="off"><br>
      <input type="text" name="renewal" placeholder="Renewal Number" autocomplete="off"><br>
      <button type="submit" class="btn btn-secondary">Search</button>
    </form>
  </div>
</div>

{% endif %}

{% if noresults %}
    <div class = "results">
      <h1>No Results Found.</h1>
      <a href="/">Back To Search</a>
    </div>
{% endif %}


{% include "search/paging.html" %}

{% endblock %}
