{% extends 'base.html' %}

{% block content %}
<!-- <div class="search"> -->
  <h1>Copyright Search</h1>
  <p id="cprr">Search for copyright registrations and renewals on books from the Catalog of Copyright Entries.</p>
  <p>Find a book:</p>
  <form>
    <input type="text" name="title" id="title" placeholder="Title" autocomplete="off"><br>
    <input type="text" name="author" placeholder="Author" autocomplete="off"><br>
    <input type="text" name="publisher" placeholder="Publisher" autocomplete="off"><br>
    <input type="text" name="registration" placeholder="Registration Number" autocomplete="off"><br>
    <input type="text" name="renewal" placeholder="Renewal Number" autocomplete="off"><br>
    <input type="submit" value="Search" class="btn">
  </form>
<!-- </div> -->
{% endblock %}
