{% if paging["has_pages"] %}
<nav class="nav justify-content-end">

    {% if paging['pages']['first'] %}
    <span class="badge badge-light">
      <a href="{{ paging['pages']['first'] }}">First</a>
      </span>
    {% endif %}


    {% if paging['pages']['previous'] %}
    <span class="badge badge-light">
    <a href="{{ paging['pages']['previous'] }}">Previous</a>
    </span>
    {% endif %}

    <span class="badge badge-primary">
    Page {{ paging["current_page"] }} of {{ paging["last_page"] }}
    </span>

    {% if paging['pages']['next'] %}
    <span class="badge badge-light">
    <a href="{{ paging['pages']['next'] }}">Next</a>
    </span>
    {% endif %}

    {% if paging['pages']['last'] %}
    <span class="badge badge-light">
    <a href="{{ paging['pages']['last'] }}">Last</a>
    </span>
    {% endif %}
  
</nav>
<div class="float-right badge badge-light">
  <a href="/">Back To Search</a>
</div>
<br>
{% else %}
{% if results %}
<div class="nav float-right badge badge-primary">Page 1 of 1</div>
{% endif %}

{% endif %}

