
  <div class = "d-flex"><h3>Registration {{ result['registrations'] }}</h3></div>
    <dl>

      <div class="row">
          <div class="col-sm-6"><b>Title</b></div>
          <div class="col-sm-6">{{ result['title'] }}</div>
        </div> 
      
      <div class = "row">
      <div class="col-sm-6"><b>Authors</b></div>
          {% for a in result['authors'] %}
          <div class="col-sm-6">-{{ a }}</div>
          <div class="col-sm-6"> </div>
          {% endfor %}
      </div>

      <div class="row">
      <div class="col-sm-6"><b>Registrations</b></div>
          {% for r in result['registrations'] %}
          <div class="col-sm-6">-{{ r['number'] }} {{ r['date'] }}</div>
          {% endfor %}
        </div>

      {% if result['copies'] %}
      <dt>Copies</dt>
      {{ result['copies'] }}
      {% endif %}
      
      {% if result['copy_date'] %}
      <dt>Copy Date</dt>
      {{ result['copy_date'] }}
      {% endif %}
      
      {% if result['description'] %}
      <dt>Description</dt>
      {{ result['description'] }}    
      {% endif %}
      
      {% if result['pub_date'] %}
      <dt>Publication Date</dt>
      {{ result['pub_date'] }}
      {% endif %}
      
      {% if result['publishers'] %}
      <dt>Publishers</dt>
          {% for p in result['publishers'] %}
          - {{ p }}<br>
          {% endfor %}
      {% endif %}
      
      <dt>Renewals</dt>
        {% if result['is_post_1963'] %}
        <em>Works published after 1963 do not require renewal and are in copyright</em>
        {% else %}
        {% if result['renewals'] %}
          {% for renewal in result['renewals'] %}
            {% include "search/render_child_renewal.html" %}
          {% endfor %}
        {% else %}
        <em>No renewals found</em>
        {% endif %}
        {% endif %}

        {% if result['is_foreign'] %}
        <p>See note on <a href="/registration-classes#foreign">Foreign publications</a></p>
        {% endif %}

        {% if result['is_interim'] %}
        <p>See note on <a href="/registration-classes#interim">Interim registrations</a></p>
        {% endif %}
      
      <dt>Source</dt>
        <a href="{{ result['source_url'] }}">
          {{ result['source']['year'] }} p. {{ result['source']['page'] }}
        </a>
      
      <dt>Original</dt>
        {{ result['original'] }}
      
      <dt>CCEID</dt>
        <a href="/cceid/{{ result['uuid'] }}">{{ result['uuid'] }}</a>
  
    </dl>
